doctype
html
  head
    title Meitao Spider
  body
    h1 Meitao Spider
    form(method='get', action='/fetch')
      input(type='text', name='url', value='http://www.amazon.cn/Perrier%E5%B7%B4%E9%BB%8E%E5%A4%A9%E7%84%B6%E6%9C%89%E6%B0%94%E7%9F%BF%E6%B3%89%E6%B0%B4-330ml-3-330ml-3/dp/B00D3VYJEG/ref=sr_1_1?s=grocery&ie=UTF8&qid=1404397288&sr=1-1&keywords=Perrier%E5%B7%B4%E9%BB%8E%E6%B0%B4')
      input(type='submit', value="fetch")